
.homeimage{
    width: 70%;
}

html{
    font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;color:#2c3e50}body{background:linear-gradient(117.97deg,rgba(247,240,254,.16) 26.4%,hsla(14,87%,88%,.573) 99.99%,rgba(255,168,121,.08));background-attachment:fixed}.homeimage{width:70%}