<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include Bootstrap -->
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="\src\main\resources\static\styles.css"/>
</head>

<body>

    <div>
        <img class="homeimage" src="\src\main\resources\static\1653045471_530623_1653046155_noticia_normal.jpg" alt="anime home image 1">
    </div>
    <div>
        <h1>Otaku Hub</h1>
    </div>
    <div>
        <a href="\src\main\resources\templates\results.html"><h2>Search</h2></a>
        <a href="\src\main\resources\templates\trivial.html"><h2>Otaku Trivial!</h2></a>
    </div>
    <div>
        <img class="homeimage" src="\src\main\resources\static\manga-tekeningen.jpg" alt="anime home image 2">
    </div>
    <div id="contents"></div>



    <script
            src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
    </script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js">
    </script>
    <script type="text/javascript" src="\src\main\resources\static\index.js"></script>
</body>
</html>